<% @facade.each do |market| %>
  <h3><%= market.name%></h3>
  <%= market.street %><br>
  <%= [market.city, market.state, market.zip].compact.join(', ')%><br>
<%end%>
<h4>Vendors at our Market:</h4>
<% @vendor_data[:data].each do |vendor| %>
  <%= link_to vendor[:attributes][:name], vendor_path(vendor[:id]) %>
<%end%>

